body{
    background-color: #6E5C62;
    font-family: 'Mitr';
    color: white;
    margin: 0;
    padding: 0;
}
#cabecalho{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 1px;
    width: 100%;
}
button{
    background-color: #6E5C62;
    color: #B7AEB4;
    border: solid 2px #B7AEB4;
    border-radius: 20%;
    padding: 5px;
    margin: 0 5px;
    width: 3vh;
    height: 3vh;
    transition: ease-in-out 0.5s;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo{
    font-size: 4vh;
}
#conteudo, #teclado{
    margin-top: 7vh;
    text-align: center;
    width: 98%;
}
#lista_centro, #linha1, #linha2, #linha3{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 600;
}
.letras{
    background-color: #312A2C;
    font-size: 5vh;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    width: 8vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letra_teclado{
    background-color: #4C4347;
    width: 9vh;
    height: 5vh;
    padding: 5px;
    font-size: 35px;
}
.letra_certa{
    background-color: #3AA394;
}
.letra_meia{
    background-color: #D3AD69;
}
.letra_antes{
    border: solid 5px #4C4347;
    background-color: #6E5C62;
}
.letra_vazia{
    background-color: #615458;
}
#backspace{
    background-color: #4C4347;
    width: 9vh;
    height: 5vh;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 0 40px;
}
#enter{
    background-color: #4C4347;
    width: 25vh;
    height: 5vh;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 0 0 40px;
}