body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    margin-top: 30vh;
    width: 25vw;
    background-color: rgba(139, 186, 205, 0.582);
    align-items: center;
    justify-content: inherit;
    padding: 2rem 1.5rem;
    border-radius: 20px;
}

#submit_btn{
    margin-top: 2rem;
}

#btn{
    display: flex;
    justify-content: center;
}

.inputs1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-3{
    margin: 1rem;
}

input#desc{
    height: 15vh;
}