#login{
    margin-top: 30vh;
    width: 25vw;
    background-color: rgba(139, 186, 205, 0.582);
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    position: fixed;
    right: 37vw;
    bottom: 35vh;
}

#submit_btn{
    margin-top: 2rem;
}

#btn{
    display: flex;
    justify-content: center;
}

.inputs1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mb-3{
    margin-top: 1rem;
}

input#desc{
    height: 15vh;
}

.itens{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
}

.itens li{
    width: min-content;
    margin: 5px 0;
}

.card-body{
    text-align: center;
}