#login{
    margin-top: 30vh;
    width: 25vw;
    background-color: rgba(139, 186, 205, 0.582);
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
    border-radius: 20px;
    position: fixed;
    right: 37vw;
    bottom: 35vh;
    border: 3px solid grey;
}

.btn{
    margin: 1rem 0;
    width: 7rem;
    height: auto;
}

#btn{
    display: flex;
    justify-content: center;
}

.inputs1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb-3{
    margin-top: 1rem;
}

input#desc{
    height: 15vh;
}

.itens{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
}

.element{
    width: auto;
    margin: 1rem 0 0 0.9rem;
}

.card{
    border: 2px solid gray;
}

.card-body{
    text-align: center;
}

.card-image{
    width: auto;
    height: 15vh;
    margin: 1.2rem 0;
}

.card-title{
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    margin: 0;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit_btn, #rmv_btn, .me-2{
    margin: 0 10px 10px 0 !important;
    width: 7rem;
    border-radius: 15px;
}

#add_btn{
    width: 10rem;
}

.card-text{
    margin: 0 0 1.2rem 1.5rem;
}

.form-control{
    border: 1px solid gray;
}

#submit_btn{
    border: 1px solid gray;
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    margin: 1rem 0 0 0;
}

#submit_btn:hover{
    background-color: rgb(43, 43, 252);
    transition: 0.5s;
    transform: scale(1.1);
}

#wrong_alert{
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.2rem;
}

#product_modal_footer{
    display: flex;
    justify-content: space-evenly;

}

#navbar-main{
    padding: 0;
}