.title{
    margin: 6rem;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: flex;
    justify-content: center;
}

.card{
    margin: 0 15px;
}

.subtitle{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.carousel-control-next{
    justify-content: end;
    padding: 2rem;
}

.carousel-control-prev{
    justify-content: start;
    padding: 2rem;
}

.card-body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
}

.card-title{
    text-align: center;
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    list-style-type: none;
    margin: 0 3rem 3rem 3rem;
    gap: 1.5rem;
}

.item{
    width: min-content;
}

#catalogo_completo{
    justify-content: center;
    align-items: center;
}

#catalogo_completo .card{
    margin: 0;
}