.title{
    margin: 4rem;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: flex;
    justify-content: center;
}

.card-body{
    text-align: center;
}

.subtitle{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 94vh;
    left: 48vw;
}

.carousel-control-next{
    justify-content: end;
    padding: 2rem;
}

.carousel-control-prev{
    justify-content: start;
    padding: 2rem;
}

.card-body{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.card-title{
    text-align: center;
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    list-style-type: none;
    margin: 0 3rem 3rem 3rem;
    gap: 1.5rem;
}

.item{
    width: min-content;
}

#catalogo_completo{
    justify-content: center;
    align-items: center;
}

#catalogo_completo .card{
    margin: 0;
}

.carousel-item{
    list-style-type: none;
}

#cart_link{
    text-decoration: none;
}

.card-image{
    width: auto;
    height: auto;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: center;
    margin: 0 0 5px 0;
}

.card-text{
    margin: 0 0 1.5rem 1.5rem;
    width: max-content;
}

.element{
    width: fit-content;
    padding: 0.7rem;
}

.card{
    border: 2px solid gray;
    border-radius: 0;
}

#navbar_main{
    padding: 0;
}